In [1]:
import pandas as pd
from sklearn.datasets import load_iris

In [3]:
data = load_iris()
iris_df = pd.DataFrame(data.data, columns= data.feature_names)
iris_df['encoded_target'] = data.target

In [4]:
iris_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),encoded_target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [6]:
iris_df.iloc[0,0] = None
iris_df.iloc[0,1] = None
iris_df.iloc[0,2] = None
iris_df.iloc[1,0] = None
iris_df.iloc[4,3] = None
iris_df.iloc[149,2] = None
iris_df.iloc[3,3] = -999999999999999
iris_df.iloc[149,2] = "abcdefghijklmnopqrstuvwxyz"

/tmp/ipykernel_15325/1090388175.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'abcdefghijklmnopqrstuvwxyz' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  iris_df.iloc[149,2] = "abcdefghijklmnopqrstuvwxyz"

In [7]:
iris_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),encoded_target
0,NaN,NaN,NaN,2.000000e-01,0
1,NaN,3.0,1.4,2.000000e-01,0
2,4.7,3.2,1.3,2.000000e-01,0
3,4.6,3.1,1.5,-1.000000e+15,0
4,5.0,3.6,1.4,NaN,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.300000e+00,2
146,6.3,2.5,5.0,1.900000e+00,2
147,6.5,3.0,5.2,2.000000e+00,2
148,6.2,3.4,5.4,2.300000e+00,2
149,5.9,3.0,abcdefghijklmnopqrstuvwxyz,1.800000e+00,2

In [8]:
iris_df.isna()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),encoded_target
0,True,True,True,False,False
1,True,False,False,False,False
2,False,False,False,False,False
3,False,False,False,False,False
4,False,False,False,True,False
...,...,...,...,...,...
145,False,False,False,False,False
146,False,False,False,False,False
147,False,False,False,False,False
148,False,False,False,False,False
149,False,False,False,False,False

In [9]:
iris_df[iris_df.isna().any(axis=1)]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),encoded_target
0,NaN,NaN,NaN,0.2,0
1,NaN,3.0,1.4,0.2,0
4,5.0,3.6,1.4,NaN,0

In [ ]:
iris_df_rem = iris_df.dropna() #remove
iris_df_mean = iris_df.fillna(iris_df.mean()) #substitui por media
iris_df_zero = iris_df.fillna(0) #substitui por 0
iris_df_valores_impossiveis = iris_df.fillna(-999) #substitui por um valor impossivel

In [14]:
iris_df = iris_df_zero

In [16]:
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    object
 3   petal width (cm)   150 non-null    float64
 4   encoded_target     150 non-null    int64
dtypes: float64(3), int64(1), object(1)
memory usage: 6.0+ KB

In [17]:
iris_df['petal length (cm)'].unique()

array([0, 1.4, 1.3, 1.5, 1.7, 1.6, 1.1, 1.2, 1.0, 1.9, 4.7, 4.5, 4.9, 4.0,
       4.6, 3.3, 3.9, 3.5, 4.2, 3.6, 4.4, 4.1, 4.8, 4.3, 5.0, 3.8, 3.7,
       5.1, 3.0, 6.0, 5.9, 5.6, 5.8, 6.6, 6.3, 6.1, 5.3, 5.5, 6.7, 6.9,
       5.7, 6.4, 5.4, 5.2, 'abcdefghijklmnopqrstuvwxyz'], dtype=object)

In [18]:
iris_df = iris_df[iris_df['petal length (cm)'] != 'abcdefghijklmnopqrstuvwxyz'].reset_index(drop=True)

In [19]:
iris_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),encoded_target
0,0.0,0.0,0,2.000000e-01,0
1,0.0,3.0,1.4,2.000000e-01,0
2,4.7,3.2,1.3,2.000000e-01,0
3,4.6,3.1,1.5,-1.000000e+15,0
4,5.0,3.6,1.4,0.000000e+00,0
...,...,...,...,...,...
144,6.7,3.3,5.7,2.500000e+00,2
145,6.7,3.0,5.2,2.300000e+00,2
146,6.3,2.5,5.0,1.900000e+00,2
147,6.5,3.0,5.2,2.000000e+00,2
148,6.2,3.4,5.4,2.300000e+00,2

In [28]:
iris_df['petal width (cm)'].unique()

array([ 2.0e-01, -1.0e+15,  0.0e+00,  4.0e-01,  3.0e-01,  1.0e-01,
        5.0e-01,  6.0e-01,  1.4e+00,  1.5e+00,  1.3e+00,  1.6e+00,
        1.0e+00,  1.1e+00,  1.8e+00,  1.2e+00,  1.7e+00,  2.5e+00,
        1.9e+00,  2.1e+00,  2.2e+00,  2.0e+00,  2.4e+00,  2.3e+00])

In [43]:
iris_df = iris_df[iris_df['petal width (cm)'] != -999999999999999].reset_index(drop=True)

In [44]:
iris_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),encoded_target
0,0.0,0.0,0,0.2,0
1,0.0,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,5.0,3.6,1.4,0.0,0
4,5.4,3.9,1.7,0.4,0
...,...,...,...,...,...
143,6.7,3.3,5.7,2.5,2
144,6.7,3.0,5.2,2.3,2
145,6.3,2.5,5.0,1.9,2
146,6.5,3.0,5.2,2.0,2
147,6.2,3.4,5.4,2.3,2